@page "/Wing"

<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <td>Wings</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Wing/GCorp">
                        <i class="bi bi-search">G Corp</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Wing/KCorp">
                        <i class="bi bi-search">K Corp</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Wing/LobotomyCorporation">
                        <i class="bi bi-search">Lobotomy Corporation</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Wing/NCorp">
                        <i class="bi bi-search">N Corp</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Wing/RCorp">
                        <i class="bi bi-search">R Corp</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Wing/TCorp">
                        <i class="bi bi-search">T Corp</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Wing/WCorp">
                        <i class="bi bi-search">W Corp</i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@code {

}
