@page "/game"

<PageTitle>Games</PageTitle>

<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>Games</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/game/identity">
                        <i class="bi bi-search">Identities</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/game/passive">
                        <i class="bi bi-search">Main Passives</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/game/passive/support">
                        <i class="bi bi-search">Support Passives</i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@code {

}