@page "/Sinner"
<PageTitle>The Sinners</PageTitle>
<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <td>Sinners</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/YiSang">
                        <i class="bi bi-search">Yi Sang</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/Faust">
                        <i class="bi bi-search">Faust</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/DonQuixote">
                        <i class="bi bi-search">Don Quixote</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/Ryoshu">
                        <i class="bi bi-search">Ryoshu</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/Meursault">
                        <i class="bi bi-search">Meursault</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/HongLu">
                        <i class="bi bi-search">Hong Lu</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/Heathcliff">
                        <i class="bi bi-search">Heathcliff</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/Ishmael">
                        <i class="bi bi-search">Ishmael</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/Rodion">
                        <i class="bi bi-search">Rodion</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/Sinclair">
                        <i class="bi bi-search">Sinclair</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/Outis">
                        <i class="bi bi-search">Outis</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Sinner/Gregor">
                        <i class="bi bi-search">Gregor</i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@code {

}
