@page "/City"

<PageTitle>Offices, Syndicates, and Others</PageTitle>

<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <td>Offices, Syndicates, and Others</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/BladeLineage">
                        <i class="bi bi-search">Blade Lineage</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/KurokumoClan">
                        <i class="bi bi-search">Kurokumo Clan</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/Middle">
                        <i class="bi bi-search">Middle</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/MolarOffice">
                        <i class="bi bi-search">Molar Office / Molar Boatworks Office</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/Ring">
                        <i class="bi bi-search">Ring</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/LimbusCompany">
                        <i class="bi bi-search">Limbus Company</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/MultiCrack">
                        <i class="bi bi-search">MultiCrack Office</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/RB">
                        <i class="bi bi-search">Ryoshu's Bistro</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/Rosespanner">
                        <i class="bi bi-search">Rosespanner Workshop</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/TLA">
                        <i class="bi bi-search">Technology Liberation Alliance</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/Wuthering">
                        <i class="bi bi-search">Wuthering Heights</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/Pequod">
                        <i class="bi bi-search">The Pequod</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/Yurodivy">
                        <i class="bi bi-search">The Yurodivy</i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@code {

}
