@page "/City"

<PageTitle>Offices and Syndicates</PageTitle>

<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <td>Offices and Syndicates</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/BladeLineage">
                        <i class="bi bi-search">Blade Lineage</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/KurokumoClan">
                        <i class="bi bi-search">Kurokumo Clan</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/Middle">
                        <i class="bi bi-search">Middle</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/MolarOffice">
                        <i class="bi bi-search">Molar Office / Molar Boatworks Office</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/Ring">
                        <i class="bi bi-search">Ring</i>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/City/LimbusCompany">
                        <i class="bi bi-search">Limbus Company</i>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

@code {

}
