@page "/Association"

<PageTitle>The Associations</PageTitle>

<table class="table table-striped mt-3">
    <thead class="table-dark">
        <tr>
            <th>Associations</th>
            <th>Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Hana Association</td>
            <td style="color:silver">1</td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Association/Zwei">
                        <i class="bi bi-search">Zwei Association</i>
                    </a>
                </div>
            </td>
            <td style="color:steelblue">2</td>
        </tr>
        <tr>
            <td>Tres Association</td>
            <td style="color:grey">3</td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Association/Shi">
                        <i class="bi bi-search">Shi Association</i>
                    </a>
                </div>
            </td>
            <td style="color:red">4</td>
            </tr>
            <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Association/Cinq">
                        <i class="bi bi-search">Cinq Association</i>
                    </a>
                </div>
            </td>
            <td style="color:blue">5</td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Association/Liu">
                        <i class="bi bi-search">Liu Association</i>
                    </a>
                </div>
            </td>
            <td style="color:orange">6</td>
            </tr>
            <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Association/Seven">
                        <i class="bi bi-search">Seven Association</i>
                    </a>
                </div>
            </td>
            <td style="color:forestgreen">7</td>
        </tr>
        <tr>
            <td>Eight Association</td>
            <td style="color:lightskyblue">8</td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Association/Devyat">
                        <i class="bi bi-search">Devyat Association</i>
                    </a>
                </div>
            </td>
            <td style="color:mediumseagreen">9</td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Association/Dieci">
                        <i class="bi bi-search">Dieci Association</i>
                    </a>
                </div>
            </td>
            <td style="color:goldenrod">10</td>
        </tr>
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary me-2" role="button" href="/Association/Oufi">
                        <i class="bi bi-search">Oufi Association</i>
                    </a>
                </div>
            </td>
            <td style="color:purple">11</td>
        </tr>
        <tr>
            <td>Unknown</td>
            <td style="color:black">12</td>
        </tr>
    </tbody>
</table>

@code {

}
