<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorApp</title>
    <base href="~/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="BlazorApp.styles.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script>
        window.localStorageFunctions = {
            savePage: function (key, value) {
                localStorage.setItem(key, value);
            },
            getPage: function (key) {
                return localStorage.getItem(key);
            }
        };
    </script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
