@page "/{*catchAll}"
<h3>Page Not Found</h3>
<p>The Route @catchAll doesn't exist</p>

<PageTitle>Invalid Route @catchAll</PageTitle>

<text>Try one of these routes instead.</text>

<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/identities">Identities</a>
</div>
<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/passives">Passives</a>
</div>
<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/skills">Skills</a>
</div>
<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/Wing">The Wings</a>
</div>
<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/Association">The Associations</a>
</div>
<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/Sinner">The Sinners</a>
</div>

@code {
    [Parameter]
    public string? catchAll { get; set; }
}