@page "/"

<PageTitle>Limbus Home</PageTitle>

<h1>Limbus Company App</h1>
<pre>
This App has a list of passives, skills, and identities form Limbus Company made by Project Moon.
Credit to https://limbuscompany.wiki.gg/wiki/Limbus_Company_Wiki for having the images of the skills and the identities on their website.
</pre>
<h2>Create</h2>
<pre>
To create a new identity you must first make a skill and a passive (most identities have 3 skills and 2 passives but you can add as many as you want).
To get to the create page simply click create at the top of the identities, passives, or skills page.
</pre>
<h3>Passive</h3>
<pre>
To Make a passive you need...
A Name which can be anything. 
A Cost which the already existing passives have formatted as number of resources sin type and then res or owned for example 3 Gluttony Res.
To click support if it is a support passive or don't if it is not a support passive.
A description which can be anything.
Keep in mind that the Cost and Name are used for finding your passive.
</pre>
<h3>Skill</h3>
<pre>
To Make a skill you need...
An Image this can be a link to an image (like from the limbuscompany.wiki.gg) or you can put anything if you don't want an image.
A Name this can be anything.
A Coin Type which is either Slash, Pierce, or Blunt.
A Sin which is one of the Seven Sins.
An Offense Level which can't be negative.
A Min Roll which is the lowest the Coin can flip.
A Max Roll which is the highest the Coin can flip.
A Skill Effect is the actual effect of the skill put None if the skill doesn't have one.
Coin Effects most skills have more than one coin so this lets you add multiple effects with the Add Ability Button. just type the effect in the new ability value text box (put None for coins with no effects) and then click add ability to add it. 
If you mess up you can use the remove to get rid of the bottom most effect.
Note make sure you actually click Add Ability or the ability will not actually be on the skill.
Keep in mind that the Name, Coin Type, and Sin are used for finding your skill.
</pre>
<h3>Identity</h3>
<pre>
Note Make sure you make your passives and skills first.
To make an identity you need...
A Name which can be anything.
A Sinner which must be one of the 13 Sinners (except Dante).
Health which is the Health of the identity.
Ineffective which is the Ineffective resistance of the identity (Slash, Pierce, or Blunt).
Fatal which is the Fatal resistance of the identity (Slash, Pierce, or Blunt).
A Defense Level which is the Defense Level of the identity.
A Min Speed and Max Speed.
A Faction which is how your identity will be matched with other identities on Blazor. You can look at the details page of an identity to see the name of its Faction.
An Image this can be a link to an image (like from the limbuscompany.wiki.gg) or you can put anything if you don't want an image.
For Passive Ids and Skill Ids you can either manually type in the ids or use the tables below to add them with the Add Passive or Add Skill buttons. If you mess up you can use the remove to get rid of the bottom most passive or skill.
Keep in mind that Name, Sinner, Ineffective, and Faction are used for finding your identity.
</pre>
<h2>Update</h2>
<pre>
You update something the same way you would create it just use the Edit button instead of create.
</pre>
<h2>Searching and Details</h2>
<pre>
You can search on a page by typing in the text box at the top.
For passives you can search by the Name, Cost or type true for support passives or false for non support passives.
For skills you can search by Name, Coin Type, or Sin.
For identities you can search by Name, Sinner, their Ineffective resistance, or Faction.
To look at details just click the Details button next to an identity. This will show you the passives, skills, faction, and identity all together.
</pre>
<h2>Delete</h2>
<pre>
To delete a skill or passive just click delete next to the skill or passive and then confirm.
To delete an identity go to the identity's detail page and click delete and then confirm.
</pre>
<h2>Other Information</h2>
<pre>
The Associations, The Sinners, The Wings, and The City pages all have links to faction pages.
For example if you want an N Corp identity you can go to The Associations and click N Corp to find the N Corp page.
All identities's details pages that have a faction page have a button to go to their faction or sinner.
You also can go to related identities by clicking on the Page button in the table at the bottom of the details page.
There is also a game you can play that will either let you guess a support passive, nonsupport passive, or identity.
The identity game also has a difficulty button.
</pre>
<h2>I Hope You Enjoy The App.</h2>