@page "/notfound"
<PageTitle>Not Found</PageTitle>

<text>Sorry The Item with the Id you tried to call doesn't exist.</text>

<text>Here are some links back to the page you most likely came from.</text>

<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/identities">Identities</a>
</div>
<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/passives">Passives</a>
</div>
<div class="mt-2">
    <a class="btn btn-primary" role="button" href="/skills">Skills</a>
</div>

@code {

}
